# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# vscode
.vscode/

# Zappa
*.zip
esusu/zappa_settings.json


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Django stuff:
*.log
local_settings.py
db.sqlite3

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py
