# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# vscode
.vscode/

# Zappa
*.zip
esusu/zappa_settings.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Django stuff:
*.log
local_settings.py
db.sqlite3
