SECRET_KEY=<Secret key for the django app. Default is None>
DEBUG=<Run the api in debug mode. Default is 1>
DATABASE_NAME=<The name of the database. Default is esusudb>
DATABASE_USER=<The database user. Default is postgres>
DATABASE_PASSWORD=<The database password. Default is postgres>
DATABASE_HOST=<The database host. Default is 127.0.0.1>
DATABASE_PORT=<The database connection port. Default is 5432>
EMAIL_HOST=<The email host. Default is smtp.gmail.com>
EMAIL_PORT=<The email host port. Default is 587>
EMAIL_HOST_USER=<The email address of the user. Default is None>
EMAIL_HOST_PASSWORD=<The email password of the user. Default is None>
EMAIL_USE_TLS=<Use TLS for email host communication. Default is 1>
IS_DOCKER_ENV=<Is this deplpoyment in docker? Default is 0>
