[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
faker = "*"
awscli = "*"
zappa = "*"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
arrow = "*"
drf-yasg = "*"
packaging = "*"
zappa-django-utils = "*"

[requires]
python_version = "3.7"
